
/INTUS.Windows.Task/.vs
/INTUS.Windows.Task/INTUS.Windows.Task.Api/bin
/INTUS.Windows.Task/INTUS.Windows.Task.Api/obj
/INTUS.Windows.Task/INTUS.Windows.Task.Business/bin
/INTUS.Windows.Task/INTUS.Windows.Task.Business/obj
/INTUS.Windows.Task/INTUS.Windows.Task.Model/bin
/INTUS.Windows.Task/INTUS.Windows.Task.Model/obj
/intus-windows-task/.vscode
