.page {
    display: flex;
    flex-direction: column;
}

.page>div {
    flex: 1;
}

.page-row {
    display: flex;
    flex-direction: row;
}

.page-row div {
    flex: 1;
    white-space: nowrap;
    margin: auto;
}